* {
    margin: 0px;
}

header {
    background-image: url("./assets/background_image.jpg");
    height: 650px;
}

.profile-image {
    height: 300px;
    border-radius: 50%;
    border: solid white;
    position: absolute;
    right: 300px;
    top: 360px;
}

.header-text {
    width: 450px;
    text-align: left;
    position: relative;
    left: 600px;
    top: 100px;
}

.header-name {
    font: normal normal normal 28px/33px Roboto;
    letter-spacing: 1.12px;
    color: #FFFFFF;
    opacity: 1;
}

.header-description {
    font: normal normal bold 82px/100px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.header-subdescription {
    font: normal normal bold 50px/61px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
}

.profile-links {
    display: flex;
    position: absolute;
    top: 100px;
    right: 100px;
}

.link-images {
    border-radius: 50%;
    border: 3px solid white;
    padding: 8px;
    margin: 5px;
}